*{
  border: 0;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

body{
  background-color: #171717;
}

.top-navigation{
  box-shadow: none
}

.profile{
  padding: 0 10px;
}

.profile p{
  font-size: 14px;
}

.profile img{
  width: 50%;
  border-radius: 50%
}

.navigation-link ul{
  list-style: none;
  padding: 0 15px;
}

.social-links li a i{
  font-size: 20px;
  transition: all 0.4s;
}

.bg-image{
  background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg');
  height: 100vh;
}

.category-head h1{
  text-transform: uppercase;
  color: #666;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-weight: 400;
}

.image-category{
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3)!important;
  border-radius: 0
}

.image-category:hover{
  box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.4)!important;
  cursor: pointer;
}

.card-img-top {
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image-category:hover .card-img-top {
  opacity: 0.25;
}

.image-category:hover .middle {
  opacity: 1;
}

.banner_image{
  width: 100%;
}

.banner_image_gallery{
  background-color: #fff;
  margin: 4em 0 1em 0;
}

.banner_image_gallery img{
  width: 35%;
}

.gallery-image-frame{
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  background: #333333;
}

#about{
  background: #171717;
}

hr.title {
  width: 150px;
  border-width: 3px;
  background-color: #000;
  text-align: justify;
  height: 2px;
  margin-left: 5px;
  border-radius: 10px 10px; 
}

.about-section{
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}

.short_desc{
  font-weight:400
}

.description{
  text-align:justify; 
  font-weight: 300
}

.details {
  z-index: 1000;
  padding: 7em 3em;
  background-color: ; }

.short_desc{
  line-height: 1.6em;
  color: #242424;
  text-align: left;
  font-weight: 600
}

.details p {
  line-height: 1.6em;
  padding-left: 5px;
  color: #242424;
}

.details h6 {
  font-family: 'Poppins', sans-serif;
  color: #272727;
  font-weight: 500;
  padding-left: 5px; 
  text-align: left;
  font-weight: bold;
}

.details h1 {
  font-size: 48px;
  font-family: Righteous,'sans-serif';
  color: var(--title-heading); 
  text-align: left;
  font-family: Original Surfer
}

.profile-image{
  background: linear-gradient(to left bottom, #fff 50%, #242424 50%);
}

.image {
  width: 100%;
  z-index: 1000;
  text-align: center;
  padding: 4.5em 1em; }

.image img {
  width: 300px;
  padding: 1em;
  background-color: #242424;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.5); }

.contact-form h4, .contact-details h4{
  color: #666
}

.contact-details p{
  color: #9a9a9a;
}

.contact-details p a{
  color: #fff;
}

.contact-details p a:hover{
  color: #9a9a9a;
  transition: all 0.4s;
}

.btn-portfolio{
  text-align: left;
  background: #f2f2f2;
  color: #171717;
  font-weight: bold;
  border-radius: 0
}

#contact-form input, textarea{
  color: #9a9a9a;
  padding: 10px;
  font-size: 14px;
}

#contact-form label{
  color: #8c8c8c;
}

.form-outline .form-control{
  border-radius: 0px!important
}